<h1>New Post</h1>

<%= form_for(@post) do |f| %>
  <p><%= f.text_field :title, placeholder: "Title" %></p> 
  <p><%= f.text_field :user, placeholder: "Username" %></p>
  <p><%= f.text_area :content, placeholder: "Write something..." %></p>
  <%= f.submit "Post" %>
<% end %>